<html lang = "en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    
    <% if (user.isTeacher === true) { %>
    <!-- TEACHER PAGE BODY-->
    <div class="content"><h2>Course Index</h2></div>
    <div class="course-list">
        <% if (courses.length > 0) { %>
            <% courses.forEach(entry => { %>
                
                <a class="delete" data-doc="<%= entry._id %>">Delete Course 🗑️</a>                  
                <div class="course-description">
                    <a class="single" href="/courses/<%= entry._id %>">
                        <h3 class="title"><%= entry.code %> - <%= entry.title %></h3>
                    </a>                    
                </div>
            <% }) %>
        <% } else { %>
            <p>The course index is currently empty</p>
        <% } %> 
    </div>
    
    <% } else { %>
    <!-- STUDENT PAGE BODY-->
    <div class="content"><h2>Course Index</h2></div>
    <div class="course-list">
        <% if (courses.length > 0) { %>
            <% courses.forEach(entry => { %>
                <a class="add" data-doc="<%= entry._id %>">Add Course ➕</a>                                 
                <div class="course-description">
                    <a class="single" href="/courses/<%= entry._id %>">
                        <h3 class="title"><%= entry.code %> - <%= entry.title %></h3>
                    </a>                    
                </div>
            <% }) %>
        <% } else { %>
            <p>The course index is currently empty</p>
        <% } %> 
    </div>
    <% } %>

    <%- include('./partials/footer.ejs') %>

    <% if (user.isTeacher === true) { %>
    <!-- TEACHER SCRIPTS-->
    <script>
        const trashcan = document.querySelectorAll('a.delete');

        for (var i = 0; i < trashcan.length; i++){
            trashcan[i].addEventListener('click', (e) => {                               
                const endpoint = `/courses/${e.target.dataset.doc}`;

                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    }                    
                    if (data.errors) {
                        courseError.textContent = data.errors;
                    }                    
                })
                .catch(err => console.log(err));
            });
        }
    </script>
    <% } else { %>
    <!-- STUDENT SCRIPTS-->
    <script>
        const addButton = document.querySelectorAll('a.add');

        for (var i = 0; i < addButton.length; i++){
            addButton[i].addEventListener('click', (e) => {                               
                const endpoint = `/courses/add/${e.target.dataset.doc}`;

                fetch(endpoint, {
                    method: 'POST'
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    }                    
                    if (data.errors) {
                        alert(data.errors);
                    }                    
                })
                .catch(err => console.log(err));
            });
        }
    </script>    
    <% } %>
</body>
</html>