<html lang = "en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="content">
        <h2>Your Current Schedule</h2>
        <div class="classes">        
            <% if (courses.length > 0) { %>
                <% courses.forEach(entry => { %>

                    <div class="entry">
                        <a class="single" href="/courses/<%= entry._id %>">
                            <h3 class="title"><%= entry.code %> - <%= entry.title %></h3>
                        </a>
                    </div>

                <% }) %>
            <% } else { %>
                <p>You have no registered courses.</p>
            <% } %> 

        </div>
        <br><p>This is a placeholder redisplay of current course index until the student-facing code is implemented in M8.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>